<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.bigdata.spark.core.JobRunFactoryProvider">
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.unpivot.UnpivotJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.sql.multiquery.MultiQueryJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.sql.expression.ExpressionJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.stringtonumber.StringToNumberJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.numbertostring.NumberToStringJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.stringtodatetime.StringToDateTimeJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.sql.ruleengine.RuleEngineJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.duplicates.DuplicateRowFilterJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.rowsplitter.RowSplitterJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.convert.datetimetostring.DateTimeToStringJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.extract.datetimefields.ExtractDateTimeFieldsJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.stringreplacer.StringReplacerJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.rank.RankJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.constantvalue.ConstantValueColumnJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.colcombine.ColumnCombinerJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.cellsplit.CellSplitterJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.editcolumn.EditColumnJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.concatenate.ConcatenateJobRunFactoryProvider">
      </JobRunFactoryProvider>
   </extension>
   <extension point="org.knime.bigdata.spark.core.SparkJarProvider">
      <SparkJarProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.unpivot.DxSpark34JarProvider">
      </SparkJarProvider>
   </extension>
</plugin>
